@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
html{

  font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
:root{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.border{
  border:2px solid #25a4a2
}

.toggleEle{
  border: 1px solid #777 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
.toggleEle.Mui-selected{
  background: initial !important;
  border-color: #d32f2f !important;
}

/* scroll  */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* for Firefox */
html {
  scrollbar-color:#777;
}
/* scroll  */